/***** 全体 *****/
body {
    color: var(--accent-color);   /* 文字色 */
    background-color:             /* 背景色 */
      var(--base-color);
}

/*****検索フォーム*****/

/*右側の幅調整*/  
.Form {
    height: 48px;
    margin-left: -7px;
    /* margin-right: 10px;   */
    margin-top: 14px;
}

/*親(.Form5.5%)に対して100%表示だよーん*/
form {
    height: 100%; 
} 

.FormDesign {
    border: 1px solid #B9B0B0;  /*線の色や太さ*/
    border-radius: 20px;
    width: 300px;    /*幅*/
    height: 45px;   /*高さ*/
    opacity: 0.8;   /*要素を60%透明*/
    box-shadow: 0 0 10px #E0D4D4;   /*影*/
    background-image: url(../assets/images/Search.png);
    background-repeat: no-repeat;
    background-position: 17px center ;
    text-align: left;
    font-weight: 400;
    font-size: larger;
    padding-left: 56px;
    margin-left: 4px;
    color: var(--accent-color);
}

input {
    padding-top: 8px;
    
}

input::placeholder {
    color: #AEABAB;     /*文字の色*/
    font-size: 20px;      /*文字サイズ*/  
    /* text-align:;    文字水平方向に中央揃え */
    padding-left:58px;
}

/***** レシピ一覧コンテナ *****/
#recipeChoiceContainer {
    height: auto;                        /* 高さ */
    width: 100%;                        /* 横幅 */
    display: flex;                      /* フレックスコンテナ */
    flex-wrap: wrap;
    justify-content: space-between;     /*行方向(横方向)の子要素の余白均等配置 */
    margin-top: 10%;
   
}

/*各料理*/
.menuWrapperR {
    width: 50%;
    height: 50%;
    margin-bottom: 13%;
    margin-top: -6%; 
}

.menuWrapperR * {
    margin: auto;
    width: 90%;
}

/*メニュー*/
.menuR {
    /* margin-top: 19%; 親コンテナのjustify-content: space-between;とぶつかるからけしてる */  
    height: 225px;  /*%だと変更されなかったためpxにしておりまする*/
    width: 175px;
    background-color: rgba(255, 249, 249, 1);
    box-shadow: 0px 3px 4px rgba(144, 131, 131, 0.25);
}

.menuR * {
    width: 100%;
}

.imageWrapper {
    position: relative;
    display: inline-block;
}

/* 選択中なう */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    z-index: 10;
    pointer-events: none; /* オーバーレイがクリックを妨げないように設定 */
}

.menuImageR {
    padding-top: 10px;
}

/* メニュー名 */
.menuName {
    margin-left: 2%;
    text-align: left;
    display: flex;                      /* フレックスコンテナ */
    align-items: center;                /* 子要素配置 : 垂直中央 */

}

.wrapButton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: -5px;

}

/*主食→主菜の遷移ボタン*/
.seniButton {
    margin-top: 5%;
    box-shadow: 0px 3px 4px rgba(144, 131, 131, 0.25),
                inset 2px 4px 6px 0 rgba(245, 242, 242, 0.8),   /*ボタンの内側*/
                inset -2px -2px 4px 0 rgba(34, 33, 32, 0.2);
    /* border: 1px solid var(--main-color); */
    border-radius: 20px;
    background-color: var(--base-color);
    color: var(--accent-color);
    font-weight: 600;
    background-color: #EFC75A;
}

/*線*/
.line {
    border-bottom: 1px solid #DAD7D7;
    width: 100%;
    margin-top: 18px;
}

.explanation {
    height: 5px;
    margin-top: -8px;
    padding-bottom: 10px;
}


